.dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 30px 8%;
}

.stat-card {
    text-align: center;
}

.stat-card span {
    font-size: 40px;
}

.stat-card h2 {
    font-size: 32px;
    margin: 10px;
    color: #4d8a35;
}

.admin-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px 8%;
}

.admin-links a {
    padding: 25px;
    background: #315c32;
    color: white;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
}