@media (max-width: 900px) {

    .navbar {
        position: relative;
    }

    .menu-btn {
        display: block;
    }

    .navbar ul {
        display: none;

        position: absolute;
        top: 70px;
        left: 0;

        width: 100%;

        background: #315c32;

        flex-direction: column;
        gap: 0;

        z-index: 100;
    }

    .navbar ul.show {
        display: flex;
    }

    .navbar li {
        padding: 15px 25px;
        border-top: 1px solid #ffffff22;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .hero-content,
    .hero-image {
        width: 100%;
    }

    .hero h1 {
        font-size: 40px;
    }

    .cards,
    .product-grid,
    .features,
    .dashboard,
    .admin-links,
    .footer {
        grid-template-columns: 1fr;
    }

    .hero-image img {
        height: 300px;
    }

}